@{
	Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@model IEnumerable<ViewAppointment>
<section style="height:100px" class="elementor-section elementor-top-section elementor-element elementor-element-ae4cf5a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ae4cf5a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="elementor-background-overlay"></div>
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b1ba2d7" data-id="b1ba2d7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-ca7fcfa elementor-widget elementor-widget-pt-heading" data-id="ca7fcfa" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
					<div class="elementor-widget-container">

						<div class="pt-heading">
							<h1 class="pt-heading-title h1">+
								Class <span>timetable</span>
							</h1>
						</div>

					</div>
				</div>
				<div class="elementor-element elementor-element-cf4f9f6 elementor-widget elementor-widget-pt-button" data-id="cf4f9f6" data-element_type="widget" data-widget_type="pt-button.default">
					<div class="elementor-widget-container">

						<a class="pt-button textual " href="/woxfit/">
							<span>Back home</span>
							<i aria-hidden="true" class="pticon pticon-arrow"></i>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@foreach(var AP in Model){
   <center>
        <table>
            <thead>
                <tr>
                    <th>@AP.Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@AP.Status</th>
                </tr>
                <tr>
                   
                    <th>@AP.IsConfirmed</th>
                    <form asp-controller="Nutritionist" asp-action="AppoitmentConfirmed" method="post">
                        <input name="id" value="@AP.Id" type="hidden">

                        <button type="submit">Confirm</button>
                    </form>
                    @if (AP.IsConfirmed == true)
                    {
                        <a asp-controller="Nutritionist" asp-action="CompleteAppointment" asp-route-id="@AP.Id">Complete </a>

                    }
                </tr>
            
                     
               

				
                <tr>
                    <th>@AP.IsCompleted</th>
                </tr>
            </tbody>
        </table>
   </center>

}