@model Nutritionist

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div style="background-color:#000 ;height:80px;margin-top:-10px;width:2000px;">

</div>




<section class="elementor-section elementor-top-section elementor-element elementor-element-58e1447 elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="58e1447" data-element_type="section" style="margin: 10px; background-color: #f5f5f5; border-radius: 10px; padding: 20px;">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-30 elementor-top-column elementor-element" style="padding: 15px;">
            <div class="elementor-column elementor-top-column elementor-element elementor-element-334311b" data-id="334311b" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-d680ce4 elementor-widget elementor-widget-pt-categories-3" data-id="d680ce4" data-element_type="widget" data-widget_type="pt-categories-3.default">
                        <div class="elementor-widget-container">
                            <div class="pt-categories-3">
                                <div class="pt-category">
                                    <div class="pt-category-title">
                                        <a asp-controller="Nutritionist" asp-action="Appointments">
                                            My Appointments
                                        </a>
                                    </div>
                                </div>
                                <div class="pt-category">
                                    <div class="pt-category-title">
                                        <a asp-controller="Nutritionist" asp-action="AvailableTimes">
                                            Schedule Appointments
                                        </a>
                                    </div>
                                </div>
                                <div class="pt-category">
                                    <div class="pt-category-title">
                                        <a href="/woxfit/timetable/">
                                            My Posts
                                        </a>
                                    </div>
                                </div>
                                <div class="pt-category">
                                    <div class="pt-category-title">
                                        <a href="/woxfit/timetable/">
                                            Add Post
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-69 elementor-top-column elementor-element elementor-element-71aa8e7">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive active-projects style-1">
                            <div class="tbl-caption">
                                <h4 class="heading mb-0">My Patients</h4>
                            </div>
                            <div id="empoloyees-tblwrapper_wrapper" class="dataTables_wrapper no-footer">
                                <div class="dt-buttons">
                                </div>
                                <table class="table table-bordered table-hover" style="border-radius: 10px;">
                                    <thead>
                                        <tr role="row">
                                            <th rowspan="1" colspan="1" style="width: 265.266px;">Name</th>
                                            <th rowspan="1" colspan="1" style="width: 199.391px;">Gender</th>
                                            <th rowspan="1" colspan="1" style="width: 182.688px;">Age</th>
                                            <th rowspan="1" colspan="1" style="width: 207.828px;">Contact Number</th>
                                            <th rowspan="1" colspan="2" style="width: 125.672px;">View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var patient in Model.patients)
                                        {
                                            <tr role="row" class="odd">
                                                <td>
                                                    <div class="products" style="display: flex; align-items: center;">
                                                        <img src="/img/pic2.jpg" class="avatar avatar-md" style="margin-right: 10px; vertical-align: middle; height: 2.813rem; width: 2.813rem; border-radius: 50%;" alt="">
                                                        <div>
                                                            <h6 style="margin-bottom: 0; font-size: 15px;">@patient.Name</h6>
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><span>@patient.Gender</span></td>
                                                <td><span class="text-primary">30</span></td>
                                                <td>
                                                    <span>@patient.PhoneNumber</span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-success light border-0">

                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-success light border-0" style="display: flex; justify-content: space-evenly; gap: 10px;">
                                                        <a asp-controller="Nutritionist" asp-action="" asp-route-id="@patient.Id">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0714 19.0699C16.0152 22.1263 11.4898 22.7867 7.78642 21.074C7.23971 20.8539 6.79148 20.676 6.36537 20.676C5.17849 20.683 3.70117 21.8339 2.93336 21.067C2.16555 20.2991 3.31726 18.8206 3.31726 17.6266C3.31726 17.2004 3.14642 16.7602 2.92632 16.2124C1.21283 12.5096 1.87411 7.98269 4.93026 4.92721C8.8316 1.02443 15.17 1.02443 19.0714 4.9262C22.9797 8.83501 22.9727 15.1681 19.0714 19.0699Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M15.9393 12.413H15.9483" stroke="#130F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M11.9306 12.413H11.9396" stroke="#130F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M7.92128 12.413H7.93028" stroke="#130F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                        <a asp-controller="Nutritionist" asp-action="MyPatientDietPlan" asp-route-id="@patient.Id">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7379 2.76181H8.08493C6.00493 2.75381 4.29993 4.41181 4.25093 6.49081V17.2038C4.20493 19.3168 5.87993 21.0678 7.99293 21.1148C8.02393 21.1148 8.05393 21.1158 8.08493 21.1148H16.0739C18.1679 21.0298 19.8179 19.2998 19.8029 17.2038V8.03781L14.7379 2.76181Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M14.4751 2.75V5.659C14.4751 7.079 15.6231 8.23 17.0431 8.234H19.7981" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M14.2882 15.3585H8.88818" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M12.2432 11.606H8.88721" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


