@model Nutritionist

@{
	Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<section class="elementor-section elementor-top-section elementor-element elementor-element-ae4cf5a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ae4cf5a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="elementor-background-overlay"></div>
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b1ba2d7" data-id="b1ba2d7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-ca7fcfa elementor-widget elementor-widget-pt-heading" data-id="ca7fcfa" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
					<div class="elementor-widget-container">

						<div class="pt-heading">
							<h1 class="pt-heading-title h1">
								Class <span>timetable</span>
							</h1>
						</div>

					</div>
				</div>
				<div class="elementor-element elementor-element-cf4f9f6 elementor-widget elementor-widget-pt-button" data-id="cf4f9f6" data-element_type="widget" data-widget_type="pt-button.default">
					<div class="elementor-widget-container">

						<a class="pt-button textual " href="/woxfit/">
							<span>Back home</span>
							<i aria-hidden="true" class="pticon pticon-arrow"></i>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@*


<section class="elementor-section elementor-top-section elementor-element elementor-element-c72aedc elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c72aedc" data-element_type="section">
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f1bea80" data-id="f1bea80" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-6a2925c elementor-widget elementor-widget-image" data-id="6a2925c" data-element_type="widget" data-widget_type="image.default">
					<div class="elementor-widget-container">
						<style>
							/*! elementor - v3.10.1 - 17-01-2023 */
							.elementor-widget-image {
								text-align: center
							}

								.elementor-widget-image a {
									display: inline-block
								}

									.elementor-widget-image a img[src$=".svg"] {
										width: 48px
									}

								.elementor-widget-image img {
									vertical-align: middle;
									display: inline-block
								}</style>												<img decoding="async" loading="lazy" width="996" height="1160" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/fitness-img-1.jpg" class="attachment-full size-full wp-image-2002" alt="" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/fitness-img-1.jpg 996w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/fitness-img-1-450x524.jpg 450w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/fitness-img-1-600x699.jpg 600w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/fitness-img-1-258x300.jpg 258w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/fitness-img-1-879x1024.jpg 879w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/fitness-img-1-768x894.jpg 768w" sizes="(max-width: 996px) 100vw, 996px">
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b78c2a5" data-id="b78c2a5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-35bbece elementor-widget elementor-widget-pt-heading" data-id="35bbece" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
					<div class="elementor-widget-container">

						<div class="pt-heading">
							<h2 class="pt-heading-title h2">
								Reach your body goals
							</h2>
						</div>

					</div>
				</div>
				<div class="elementor-element elementor-element-5e9fb7b elementor-widget elementor-widget-text-editor" data-id="5e9fb7b" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<style>
							/*! elementor - v3.10.1 - 17-01-2023 */
							.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
								background-color: #818a91;
								color: #fff
							}

							.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
								color: #818a91;
								border: 3px solid;
								background-color: transparent
							}

							.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
								margin-top: 8px
							}

							.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
								width: 1em;
								height: 1em
							}

							.elementor-widget-text-editor .elementor-drop-cap {
								float: left;
								text-align: center;
								line-height: 1;
								font-size: 50px
							}

							.elementor-widget-text-editor .elementor-drop-cap-letter {
								display: inline-block
							}</style>				<p>Convallis ullamcorper velit, varius maecenas viverra purus nunc. In suscipit aliquet sociis nibh quis. Neque pellentesque habitant aliquet venenatis at est.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-ba862fa elementor-widget elementor-widget-pt-categories-3" data-id="ba862fa" data-element_type="widget" data-widget_type="pt-categories-3.default">
					<div class="elementor-widget-container">

						<div class="pt-categories-3">


							<div class="pt-category">

								<div class="pt-category-title">
									<a href="/woxfit/single-service/">

										Cardio Training
									</a>
								</div>

							</div>


							<div class="pt-category">

								<div class="pt-category-title">
									<a href="/woxfit/single-service/">

										Basic Yoga
									</a>
								</div>

							</div>


							<div class="pt-category">

								<div class="pt-category-title">
									<a href="/woxfit/single-service/">

										Muscle Training
									</a>
								</div>

							</div>


							<div class="pt-category">

								<div class="pt-category-title">
									<a href="/woxfit/single-service/">

										Stretching
									</a>
								</div>

							</div>


						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
*@
<h1>@Model.Name</h1>
<h1>@Model.Age</h1>
<h1>@Model.CvURl</h1>
<h1>@Model.Gender</h1>
<h1>@Model.imgURl</h1>
<h1>@Model.PhoneNumber</h1>