@model Nutritionist

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<link href="~/css/NutDetails.css" rel="stylesheet">

<div style="background-color:#141414 ;height:80px;margin-top:-10px;width:2000px;">
</div>

<section style="padding:70px;">
    <div class="container py-2">


        <article style="background-color:#f9f9f9;" class="postcard light green">
            <a class="postcard__img_link" href="#">
                @if(Model.imgURl != null){
                    <img class="postcard__img" src="@Model.imgURl" alt="Image Title" />

                }
                else
                {
                    <img class="postcard__img" src="~/img/noimage.jpg" alt="Image Title" />

                }
            </a>
            <div class="postcard__text t-dark">
                <h1 style="margin-left:8px;" class="postcard__title green"><a href="#">About @Model.Name</a></h1>
                @if (User.IsInRole("Patient"))
                {
                    <a asp-controller="Client" asp-action="Payment"><h6>subscribe $@Model.Price.amount</h6></a>
                } 
                 else if(Model.Price !=null)
                {
                    <h6>subscribe $@Model.Price.amount</h6>
                }
                else
                {
                    <h6>subscribe not avalibale yet</h6>

                }
                <div class="postcard__subtitle small">
                    <ul style="list-style:none; font-size:18px;">
                        <li><strong> Gender </strong><span>@Model.Gender</span></li>
                        <li><strong> Age </strong><span>@Model.Age</span></li>
                        <li><strong>PhoneNumber </strong><span>@Model.PhoneNumber</span></li>

                        @if (Model.clinic!= null)
                        {
                            <li><strong>Clinic Name </strong><span>@Model.clinic.Name</span></li>
                            <li><strong>Clinic Address </strong><span>@Model.clinic.Address</span></li>
                            <li><strong>Clinic PhoneNumber </strong><span>@Model.clinic.PhoneNumber</span></li>
                        }
                        else
                        {
                            <li><strong>Clinic </strong><span>not available</span></li>
                        }

                        <li><a style="text-decoration:underline; color:#D6FD51;" href="@Model.CvURl">Download CV</a></li>
                      

                        

                    </ul>
                    @{
                        if (Model.AverageRating.HasValue)
                        {
                            int fullStars = (int)Model.AverageRating.Value;
                            int halfStar = (int)((Model.AverageRating.Value - fullStars) * 2);

                            for (int i = 0; i < fullStars; i++)
                            {
                                <i class="fa-sharp fa-solid fa-star text-orange" style="color:orange"></i>
                            }

                            if (halfStar == 1)
                            {
                                <i class="fa-solid fa-star-half-stroke text-orange" style="color:orange"></i>
                            }
                            else if (halfStar == 2)
                            {
                                <i class="fa-sharp fa-solid fa-star text-orange" style="color:orange"></i>
                            }

                        }
                        else
                        {
                            <p>No rating available</p>
                        }
                    }

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    @* @if (Model.healthRecord != null)
                    {*@
                    <h1 class="postcard__title green"><a href="#">Available Times</a></h1>
                    <table class="table table-hover">

                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Num</th>
                                <th scope="col">Day</th>
                                <th scope="col">Time</th>
                                <th scope="col">Choose</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var rowNumber = 1;
                            }
                            @foreach (var at in Model.AvaliableTimes)
                            {
                                <tr>
                                    <th scope="row">@rowNumber</th>
                                    <td>@at.DayOfWeek</td>
                                    <td>@at.Time</td>
                                    <td>
                                        <form asp-controller="Nutritionist" asp-action="SelectAppoitment" method="post">
                                            <input name="id" value="@at.Id" type="hidden">
                                            <button style="color:#D6FD51; text-decoration:underline;" class=" btn btn-outline-success" type="submit">Select</button>
                                        </form>
                                    </td>
                                </tr>
                                rowNumber++;
                            }
                        </tbody>

                    </table>
                


                </div>
              


            </div>
        </article>
        <section  class="elementor-section elementor-top-section elementor-element elementor-element-14a702e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="14a702e" data-element_type="section" style="color:black; margin: 50px 0;  padding: 50px 0; ">
            <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-02e7c16" data-id="02e7c16" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                        @* <div class="elementor-element elementor-element-b86e0cc elementor-widget elementor-widget-pt-heading" data-id="b86e0cc" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
                        <div class="elementor-widget-container">

                        <div class="pt-heading" style="text-align:center; margin-bottom:40px; ">
                        <h2 class="pt-heading-title h2">
                        Our Nutritionists
                        </h2>
                        </div>

                        </div>
                        </div>*@
                        <div class="elementor-element elementor-element-80ea4f5 elementor-widget elementor-widget-text-editor" data-id="80ea4f5" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-faf1d9d elementor-widget elementor-widget-pt-services e-widget-swiper" data-id="faf1d9d" data-element_type="widget" data-settings="{&quot;cols&quot;:&quot;4&quot;,&quot;layout&quot;:&quot;carousel&quot;,&quot;scrollbar&quot;:&quot;yes&quot;,&quot;arrows_position&quot;:&quot;together&quot;,&quot;cols_mobile&quot;:&quot;1&quot;,&quot;cols_tablet&quot;:3,&quot;gap&quot;:30,&quot;arrows&quot;:&quot;yes&quot;}" data-widget_type="pt-services.default">
                            <div class="elementor-widget-container">

                                <div class="pt-services-1 layout-carousel arrows-together arrows-align-top-right">
                                    <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">

                                            @foreach (var n in Model.Ratings)
                                            {
                                                <div class="swiper-slide swiper-slide-active" style="width: 427px; margin-right: 30px;" data-swiper-slide-index="0">

                                                    <div class="pt-testimonial">

                                                        <div class="pt-testimonial">
                                                            @for (int i = 0; i < n.Value; i++)
                                                            {
                                                                <i class="fa-sharp fa-solid fa-star text-orange" style="color:orange"></i>
                                                            }
                                                            <div class="pt-testimonial-text">
                                                                @n.Comment
                                                            </div>


                                                            <div class="pt-testimonial-meta">

                                                                <div class="pt-testimonial-avatar">
                                                                    <img loading="lazy" width="800" height="900" src="@n.Patient.imgURl" class="attachment-full size-full" alt="" decoding="async" sizes="(max-width: 800px) 100vw, 800px">
                                                                </div>

                                                                <div class="pt-testimonial-author-wrapper">

                                                                    <div class="pt-testimonial-author">
                                                                        @n.Patient.Name
                                                                    </div>


                                                                    <div class="pt-testimonial-occupation">
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>



                                            }
                                        </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                    </div>





                                </div>





                                <div class="swiper-scrollbar"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 481.613px;"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </div>

</section>




