@model Nutritionist

@{
	Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<link rel="stylesheet" href="path-to-bootstrap-css/bootstrap.min.css">

<div style="background-color:#000 ;height:80px;margin-top:-10px;width:2000px;">

</div>

<style>
    /* Custom CSS for styling */
    body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
    }

    .nutritionist-details {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        padding: 20px;
    }

    .nutritionist-image img {
        max-width: 100%;
        border-radius: 30%;
    }

    .contact-info {
        margin-top: 20px;
    }
</style>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 nutritionist-image">
            <img src="~/img/Nutritionist-1.jpg" alt="@Model.Name" class="img-fluid">
        </div>
        <div class="col-md-9 nutritionist-details">
            <h3>About @Model.Name</h3>
            <p>@Model.CvURl</p>

            <div class="contact-info">
                <h4>Contact Information</h4>
                <p>Age: @Model.Age</p>
                <p>Phone: @Model.PhoneNumber</p>
            </div>
        </div>
    </div>
</div>

<!-- Include Bootstrap script -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
