@model List<Post>

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div style="background-color:#141414 ;height:80px;margin-top:-10px;width:2000px;">
</div>




@if (Model.Count != 0)
{
    <section class="elementor-section elementor-top-section elementor-element elementor-element-d51865b elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d51865b" data-element_type="section" style="padding: 80px 0 40px 0;">
        <div class="elementor-container elementor-column-gap-default">

            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9c2c848" data-id="9c2c848" data-element_type="column" style="padding:0 10px;">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-16d4b31 elementor-widget elementor-widget-pt-blog" data-id="16d4b31" data-element_type="widget" data-settings="{&quot;cols_lg&quot;:2,&quot;navigation&quot;:&quot;pagination&quot;,&quot;cols_md&quot;:2,&quot;type&quot;:&quot;grid&quot;,&quot;style&quot;:&quot;default&quot;,&quot;arrows_position&quot;:&quot;default&quot;}" data-widget_type="pt-blog.default">
                        <div class="elementor-element elementor-element-ec6c0ff elementor-widget elementor-widget-pt-heading" data-id="ec6c0ff" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default" style="margin-bottom:80px;">
                            <div class="elementor-widget-container">

                                <div class="pt-heading" style="text-align:center; ">
                                    <h2 class="pt-heading-title h2">
                                        Blogs
                                    </h2>
                                </div>

                            </div>
                        </div>
                        <div class="elementor-widget-container">

                            <div class="blog-block filter-block">
                                <div class="blog-area blog-items row blog-type-grid blog-style-default" style="position: relative; height: 1689.05px;">
                                    <div class="grid-sizer col-1" style="position: absolute; left: 0px; top: 0px;"></div>

                                    @foreach (var post in Model)
                                    {
                                        <article class="blog-item istp-item col-md-6 col-lg-6 category-1">
                                            <div class="wrap">

                                                <div class="entry-thumb">
                                                    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                                                        <img fetchpriority="high" width="1024" height="683" src="@post.ImageUrl" class="attachment-large size-large" alt="" decoding="async" srcset="@post.ImageUrl 1024w, @post.ImageUrl 1080w, @post.ImageUrl 300w, @post.ImageUrl 768w, @post.ImageUrl 1536w, @post.ImageUrl 1680w" sizes="(max-width: 1024px) 100vw, 1024px">
                                                    </a>
                                                </div>


                                                <div class="entry-caption content">

                                                    <h5 class="entry-title">
                                                        <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>
                                                    </h5>
                                                    <p class="entry-excerpt">

                                                        @post.Description
                                                    </p>
                                                    <div class="entry-more">
                                                        <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" class="readmore-link pt-button textual">
                                                            <span>Read More</span>
                                                            <i class="fas fa-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    }

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div style="margin: 12.5% 8%; padding:5%; text-align:center">
        <div style="background-color:#141414; color:white; font-weight:500; height:100%; width:100%; padding:3%; ">No Blogs Yet!</div>

    </div>
}



