@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}


<section class="elementor-section elementor-top-section elementor-element elementor-element-1c03cbe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1c03cbe" data-element_type="section" style="margin: 100px 0 100px 0">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-43c5b0f" data-id="43c5b0f" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                <div class="elementor-element elementor-element-a6d00df elementor-widget elementor-widget-pt-heading" data-id="a6d00df" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
                    <div class="elementor-widget-container" style="padding:0 !important;">

                        <div class="pt-heading" style="text-align:center;">
                            <h2 class=" h2">
                                Why Choose Us
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="elementor-element elementor-element-0ea419d elementor-widget elementor-widget-text-editor" data-id="0ea419d" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <style>
                            /*! elementor - v3.10.1 - 17-01-2023 */
                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                background-color: #818a91;
                                color: #fff
                            }

                            .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                color: #818a91;
                                border: 3px solid;
                                background-color: transparent
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                margin-top: 8px
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                width: 1em;
                                height: 1em
                            }

                            .elementor-widget-text-editor .elementor-drop-cap {
                                float: left;
                                text-align: center;
                                line-height: 1;
                                font-size: 50px
                            }

                            .elementor-widget-text-editor .elementor-drop-cap-letter {
                                display: inline-block
                            }

                            .pt-icon-box-icon {
                                padding: 10px;
                                border-radius: 14px;
                            }

                                .pt-icon-box-icon img {
                                    max-width: 54px;
                                }

                        </style>

                        <p>Fit & Fuel offers a wide range of compelling reasons to choose our platform for your health and nutrition needs. Here's why you should consider us</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-17c80b7 elementor-widget elementor-widget-pt-button" data-id="17c80b7" data-element_type="widget" data-widget_type="pt-button.default">
                </div>
                <div class="elementor-element elementor-element-5351c49 elementor-widget elementor-widget-pt-icon-box e-widget-swiper" data-id="5351c49" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;carousel&quot;,&quot;cols&quot;:&quot;3&quot;,&quot;style&quot;:&quot;custom&quot;,&quot;arrows_position&quot;:&quot;together&quot;,&quot;cols_tablet&quot;:&quot;1&quot;,&quot;cols_mobile&quot;:&quot;1&quot;,&quot;gap&quot;:30,&quot;arrows&quot;:&quot;yes&quot;}" data-widget_type="pt-icon-box.default">
                    <div class="elementor-widget-container">

                        <div class="pt-icon-boxes layout-carousel style-custom shape-square arrows-together arrows-align-default">
                            <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">



                                    <div class="swiper-slide swiper-slide-active" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Convenient Access
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Gain convenient access to certified nutritionists and personalized health services from the comfort of your home.
                                                </div>

                                            </div>



                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>



                                        </div>

                                    </div>



                                    <div class="swiper-slide swiper-slide-next" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>
                                                            Guaranteed Results
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Achieve your health and fitness goals with guaranteed results, guided by expert nutritionists.
                                                </div>

                                            </div>



                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>




                                        </div>

                                    </div>



                                    <div class="swiper-slide" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Effortless Tracking
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Easily track your health information, progress, and daily caloric intake.
                                                </div>

                                            </div>


                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>




                                        </div>

                                    </div>



                                    <div class="swiper-slide" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Expanded Reach
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Nutritionists can expand their services beyond physical clinics, providing you with a wider choice of professionals.
                                                </div>

                                            </div>


                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>




                                        </div>

                                    </div>



                                    <div class="swiper-slide" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Real-Time Interaction
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Engage in real-time communication with your nutritionists through our chat feature.
                                                </div>

                                            </div>

                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>






                                        </div>

                                    </div>



                                    <div class="swiper-slide" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Stay Informed
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Access up-to-date information on nutrition, fitness, and wellness by Our Nutritionist Blogs.
                                                </div>

                                            </div>



                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>



                                        </div>

                                    </div>


                                </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>

                            <div class="pt-swiper-arrows">
                                <div class="pt-swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                                <div class="pt-swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="elementor-section elementor-top-section elementor-element elementor-element-14a702e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="14a702e" data-element_type="section" style=" margin: 50px 0;  padding: 50px 0; ">
    <div class="elementor-container elementor-column-gap-extended">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-02e7c16" data-id="02e7c16" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                <div class="elementor-element elementor-element-b86e0cc elementor-widget elementor-widget-pt-heading" data-id="b86e0cc" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
                    <div class="elementor-widget-container">

                        <div class="pt-heading" style="text-align:center; margin-bottom:40px; ">
                            <h2 class="pt-heading-title h2">
                                Our Nutritionists
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="elementor-element elementor-element-80ea4f5 elementor-widget elementor-widget-text-editor" data-id="80ea4f5" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                    </div>
                </div>
                <div class="elementor-element elementor-element-faf1d9d elementor-widget elementor-widget-pt-services e-widget-swiper" data-id="faf1d9d" data-element_type="widget" data-settings="{&quot;cols&quot;:&quot;4&quot;,&quot;layout&quot;:&quot;carousel&quot;,&quot;scrollbar&quot;:&quot;yes&quot;,&quot;arrows_position&quot;:&quot;together&quot;,&quot;cols_mobile&quot;:&quot;1&quot;,&quot;cols_tablet&quot;:3,&quot;gap&quot;:30,&quot;arrows&quot;:&quot;yes&quot;}" data-widget_type="pt-services.default">
                    <div class="elementor-widget-container">

                        <div class="pt-services-1 layout-carousel arrows-together arrows-align-top-right">
                            <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">

                                    @foreach (var n in Model.nutritionists)
                                    {
                                        <div class="swiper-slide swiper-slide-active" style="width: 222px; margin-right: 30px;">

                                            <div class="pt-service">


                                                <div class="pt-service-image">
                                                    <img src="@n.imgURl" class="card-img-top img-fixed-height" alt="@n.Name">
                                                </div>




                                                <div class="pt-service-caption">


                                                    <a class="pt-button filled-2" asp-controller="Nutritionist" asp-action="NutDetails" asp-route-id="@n.Id">

                                                        <span>View Details</span>


                                                    </a>

                                                </div>




                                            </div>
                                            <div class="pt-team-member-title">
                                                @n.Name
                                            </div>


                                            <div class="pt-team-member-subtitle">
                                                @{
                                                    if (n.AverageRating.HasValue)
                                                    {
                                                        int fullStars = (int)n.AverageRating.Value;
                                                        int halfStar = (int)((n.AverageRating.Value - fullStars) * 2);

                                                        for (int i = 0; i < fullStars; i++)
                                                        {
                                                            <i class="fa-sharp fa-solid fa-star text-orange" style="color:orange"></i>
                                                        }

                                                        if (halfStar == 1)
                                                        {
                                                            <i class="fa-solid fa-star-half-stroke text-orange" style="color:orange"></i>
                                                        }
                                                        else if (halfStar == 2)
                                                        {
                                                            <i class="fa-sharp fa-solid fa-star text-orange" style="color:orange"></i>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <p>No rating available</p>
                                                    }
                                                }


                                            </div>


                                        </div>



                                    }
                                </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>

                            <div class="pt-swiper-arrows"><div class="pt-swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div><div class="pt-swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div></div>
                        </div>



                        <div class="swiper-scrollbar"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 481.613px; background-color:#d6fd51;"></div></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="elementor-element elementor-element-3e11bac elementor-widget elementor-widget-pt-button" data-id="3e11bac" data-element_type="widget" data-widget_type="pt-button.default" style="text-align:center; margin: 20px 0 0 0; padding: 30px 0 0 0;">
        <div class="elementor-widget-container">

            <a class="pt-button filled-2" asp-controller="Nutritionist" asp-action="ViewAllNutrition">
                <span>View more</span>
            </a>

        </div>
    </div>
</section>

<section class="elementor-section elementor-top-section elementor-element elementor-element-60ffaa4 elementor-section-full_width marquee-icon-fix elementor-section-height-default elementor-section-height-default" data-id="60ffaa4" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="background-color: #D6FD51; padding: 12px 0px 9px 0px;">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e6ef2f8" data-id="e6ef2f8" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-0e51db1 elementor-widget elementor-widget-pt-text-marquee" data-id="0e51db1" data-element_type="widget" data-widget_type="pt-text-marquee.default" style="font-family:  Syncopate, Sans-serif;
                     font-size: 24px;
                     font-weight: 600;
                     text-transform: uppercase;
                     letter-spacing: -0.07em;">
                    <div class="elementor-widget-container">

                        <div class="pt-text-marquee">
                            <div class="pt-text-marquee-original">

                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Explore posts on the latest health and dietary trends
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Drawing up an individual training program
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Best professional Nutritionists
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text">
                                    Tailored diet plans for a healthier you
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>

                            </div>

                            <div class="pt-text-marquee-copy">

                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Explore posts on the latest health and dietary trends
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Drawing up an individual training program
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Best professional Nutritionists
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text">
                                    Tailored diet plans for a healthier you
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="elementor-section elementor-top-section elementor-element elementor-element-913af57 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="913af57" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e9a2ffa" data-id="e9a2ffa" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-03bbccb elementor-widget elementor-widget-image" data-id="03bbccb" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img decoding="async" loading="lazy" height="350px" width="1920" src="~/img/side2.jpg" class="attachment-full size-full wp-image-2082" alt="" style="height:380px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="elementor-section elementor-top-section elementor-element elementor-element-60ffaa4 elementor-section-full_width marquee-icon-fix elementor-section-height-default elementor-section-height-default" data-id="60ffaa4" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="background-color: #D6FD51; padding: 12px 0px 9px 0px;">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e6ef2f8" data-id="e6ef2f8" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-0e51db1 elementor-widget elementor-widget-pt-text-marquee" data-id="0e51db1" data-element_type="widget" data-widget_type="pt-text-marquee.default" style="font-family:  Syncopate, Sans-serif;
                     font-size: 24px;
                     font-weight: 600;
                     text-transform: uppercase;
                     letter-spacing: -0.07em;">
                    <div class="elementor-widget-container">

                        <div class="pt-text-marquee">
                            <div class="pt-text-marquee-original">

                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Explore posts on the latest health and dietary trends
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Drawing up an individual training program
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Best professional Nutritionists
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text">
                                    Tailored diet plans for a healthier you
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>

                            </div>

                            <div class="pt-text-marquee-copy">

                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Explore posts on the latest health and dietary trends
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Drawing up an individual training program
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text" style="margin-right: 30px">
                                    Best professional Nutritionists
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>


                                <span class="pt-text-marquee-text">
                                    Tailored diet plans for a healthier you
                                </span>

                                <span style="margin-right: 30px">
                                    <i aria-hidden="true" class="fas fa-asterisk" style="position: relative; top: -3px;"></i>
                                </span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="elementor-section elementor-top-section elementor-element elementor-element-74512df elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="74512df" data-element_type="section">
    <div class="elementor-container elementor-column-gap-extended">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7994f4c" data-id="7994f4c" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-5767727 elementor-widget elementor-widget-pt-heading" data-id="5767727" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
                    <div class="elementor-widget-container">

                        <div class="pt-heading">
                            <h2 class="pt-heading-title h2">
                                Blog &amp; news
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="elementor-element elementor-element-8ea4d90 elementor-widget elementor-widget-pt-blog" data-id="8ea4d90" data-element_type="widget" data-settings="{&quot;type&quot;:&quot;modern&quot;,&quot;navigation&quot;:&quot;none&quot;,&quot;arrows_position&quot;:&quot;default&quot;}" data-widget_type="pt-blog.default">
                    <div class="elementor-widget-container">

                        <div class="blog-block filter-block">
                            <div class="blog-area blog-items blog-type-modern blog-style- isotope">
                                <div class="grid-sizer col-1"></div>
                                @foreach (var post in Model.posts)
                                {
                                    <article class="blog-item istp-item category-1">
                                        <div class="wrap">

                                            <div class="entry-thumb">

                                                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                                                    <img loading="lazy" width="1024" height="512" src=@post.ImageUrl class="attachment-large size-large" alt="" decoding="async" sizes="(max-width: 1024px) 100vw, 1024px">

                                                </a>
                                            </div>


                                            <div class="entry-caption content">

                                                <h5 class="entry-title">
                                                    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>
                                                </h5>
                                                <p class="entry-excerpt">

                                                    @post.Description
                                                </p>
                                                <div class="entry-more">
                                                    <a asp-controller="Home" asp-action="AllPost" class="readmore-link pt-button textual">
                                                        <span>Read More</span>
                                                        <i class="pticon-arrow"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>



                                }


                            </div>
                            <div class="load-items-area"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="elementor-section elementor-top-section elementor-element elementor-element-a0223fe elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="dff02d0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;tilt&quot;}">
    <div class="elementor-shape elementor-shape-top" data-negative="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
        </svg>
    </div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e2146e2" data-id="e2146e2" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                <div class="elementor-element elementor-element-7941894 elementor-widget elementor-widget-pt-heading" data-id="7941894" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
                    <div class="elementor-widget-container">

                        <div class="pt-heading">
                            <h2 class="pt-heading-title h2">
                                Testimonials from clients
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="elementor-element elementor-element-e1c8d4c elementor-widget elementor-widget-text-editor" data-id="e1c8d4c" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>Some of our clients opinions about our services.</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-30e48a9 elementor-widget elementor-widget-pt-testimonials e-widget-swiper" data-id="30e48a9" data-element_type="widget" data-settings="{&quot;style&quot;:&quot;style-2&quot;,&quot;cols&quot;:1.6599999999999999,&quot;layout&quot;:&quot;carousel&quot;,&quot;arrows_position&quot;:&quot;together&quot;,&quot;cols_tablet&quot;:1.5,&quot;cols_mobile&quot;:1,&quot;navigation_style&quot;:&quot;style-3&quot;}" data-widget_type="pt-testimonials.default">
                    <div class="elementor-widget-container">

                        <div class="pt-testimonials layout-carousel style-2 text-align- arrows-together arrows-align-bottom-right">
                            <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transform: translate3d(-746.988px, 0px, 0px); transition-duration: 0ms;">



                                    <div class="swiper-slide swiper-slide-prev" style="width: 716.988px; margin-right: 30px;">

                                        <div class="pt-testimonial">

                                            <div class="pt-testimonial-content">

                                                <div class="pt-testimonial-text">
                                                    I want to thank the team that oversees this wonderful site.
                                                </div>


                                                <div class="pt-testimonial-meta">

                                                    <div class="pt-testimonial-avatar">
                                                        <img loading="lazy" width="800" height="900" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-6.jpg" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-6.jpg 800w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-6-450x506.jpg 450w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-6-600x675.jpg 600w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-6-267x300.jpg 267w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-6-768x864.jpg 768w" sizes="(max-width: 800px) 100vw, 800px">
                                                    </div>

                                                    <div class="pt-testimonial-author-wrapper">

                                                        <div class="pt-testimonial-author">
                                                            Layla albek
                                                        </div>


                                                        <div class="pt-testimonial-occupation">
                                                            @@Layla albek
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>



                                    <div class="swiper-slide swiper-slide-active" style="width: 716.988px; margin-right: 30px;">

                                        <div class="pt-testimonial">

                                            <div class="pt-testimonial-content">

                                                <div class="pt-testimonial-text">
                                                    Thank you for this valuable information and wonderful advice.
                                                </div>


                                                <div class="pt-testimonial-meta">

                                                    <div class="pt-testimonial-avatar">
                                                        <img loading="lazy" width="800" height="900" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-2.jpg" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-2.jpg 800w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-2-450x506.jpg 450w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-2-600x675.jpg 600w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-2-267x300.jpg 267w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-2-768x864.jpg 768w" sizes="(max-width: 800px) 100vw, 800px">
                                                    </div>

                                                    <div class="pt-testimonial-author-wrapper">

                                                        <div class="pt-testimonial-author">
                                                            Anas alshamaa
                                                        </div>


                                                        <div class="pt-testimonial-occupation">
                                                            @@Anas alshamaa
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>



                                    <div class="swiper-slide swiper-slide-next" style="width: 716.988px; margin-right: 30px;">

                                        <div class="pt-testimonial">

                                            <div class="pt-testimonial-content">

                                                <div class="pt-testimonial-text">
                                                    Beautiful site and beautiful information. Thank you from the heart.
                                                </div>


                                                <div class="pt-testimonial-meta">

                                                    <div class="pt-testimonial-avatar">
                                                        <img loading="lazy" width="800" height="900" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-7.jpg" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-7.jpg 800w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-7-450x506.jpg 450w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-7-600x675.jpg 600w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-7-267x300.jpg 267w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/team-member-7-768x864.jpg 768w" sizes="(max-width: 800px) 100vw, 800px">
                                                    </div>

                                                    <div class="pt-testimonial-author-wrapper">

                                                        <div class="pt-testimonial-author">
                                                            Sali Ahmad
                                                        </div>


                                                        <div class="pt-testimonial-occupation">
                                                            @@Sali Ahmad
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>


                                </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>

                        </div>


                        <div class="pt-swiper-arrows-fraction-2">
                            <div class="pt-swiper-pagination swiper-pagination-fraction"><span class="swiper-pagination-current">2</span> / <span class="swiper-pagination-total">3</span></div>				<div class="pt-line"></div>

                            <div class="pt-swiper-button-prev" style="display: none;" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>
                            <div class="pt-swiper-button-next" style="display: none;" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                            <script>
                                $(document).ready(function () {
                                    // Add a click event listener to the right arrow <i> element
                                    $('.fas.fa-arrow-right').on('click', function () {
                                        // Trigger the click event for the hidden right <div>
                                        $('.pt-swiper-button-next').trigger('click');
                                    });

                                    // Add a click event listener to the left arrow <i> element
                                    $('.fas.fa-arrow-left').on('click', function () {
                                        // Trigger the click event for the hidden left <div>
                                        $('.pt-swiper-button-prev').trigger('click');
                                    });
                                });
                            </script>


                            <div class="pt-swiper-button-prev" style="display: none;"></div>
                            <i class="fas fa-arrow-left arrow-icon" style="


    margin-right: -9px;
z-index: 10;
								   cursor: pointer;
								   position: absolute;
								   top: calc(50% - var(--arrow-size) / 2);
								   transition: opacity 0.3s;position: static;"></i>
                            <i class="fas fa-arrow-right arrow-icon" style="z-index: 10;
								   cursor: pointer;
								   position: absolute;
								   top: calc(50% - var(--arrow-size) / 2);
								   transition: opacity 0.3s;position: static;"></i>
                            <div class="pt-swiper-button-next" style="display: none;"></div>


                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


