@model Post

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div style="background-color:#141414 ;height:80px;margin-top:-10px;width:2000px;">
</div>



<div class="container">
	<div class="row" style="padding:0 40px;">
	
		<div class="col-12 col-lg-12">
			<article id="post-64" class="post-64 post type-post status-publish format-standard has-post-thumbnail hentry category-aerobics tag-gym tag-sports tag-vitamins">
				<div class="entry-content">
					<div class="entry-header" style="margin:80px 0 10px 0; text-align:center;">
				

						<h1 class="entry-title h3">@Model.Title</h1>
					</div>

					<div class="entry-thumb">
						<img width="1680" height="1120" src="@Model.ImageUrl" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="@Model.ImageUrl 1680w, @Model.ImageUrl 1080w, @Model.ImageUrl 300w, @Model.ImageUrl 1024w, @Model.ImageUrl 768w, @Model.ImageUrl 1536w" sizes="(max-width: 1680px) 100vw, 1680px">
					</div>


					<p style="padding-top:30px;">@Model.Description</p>





					<div class="entry-meta entry-meta-bottom">
						<div class="entry-author">@Model.nutritionist.Name</div>

						<div class="entry-date">
							@(FormatDateWithSuffix(@Model.Time))
						</div>

						
					</div>
				</div>
			</article>

			<div class="comments-area" id="comments">
				<div class="comment-list">
					<h3 class="comments-title">Comments</h3>
					@foreach (var comment in Model.Comments)
				{
					<li class="comment even thread-even depth-1" id="comment-2">
						<div id="div-comment-2" class="comment-body">
							<div class="comment-author vcard">
									<img alt="" src="@comment.Patient.imgURl" srcset="@comment.Patient.imgURl" class="avatar avatar-48 photo" height="48" width="48" loading="lazy" decoding="async">			<cite class="fn" style="font-weight:700;">@comment.Patient.Name</cite> <span class="says">says:</span>
							</div>

							<div class="comment-meta commentmetadata">
									<a></a>
							</div>

								<p>@comment.content</p>

							
						</div>
					</li>
				}
				</div>

				<div id="respond" class="comment-respond">
					<h3 id="reply-title" class="comment-reply-title">Add a Comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="/woxfit/we-believe-that-our-work-creates-value-for-society-6/#respond" style="display:none;">Cancel reply</a></small></h3>
					<form asp-controller="Comment" asp-action="AddComment" method="post" id="commentform" class="comment-form">
						
						<input type="hidden" name="postId" value=@Model.Id>
						<p class="comment-form-comment">
							<label for="comment">Comment <span class="required">*</span></label> 
							<textarea id="Content" name="Content" rows="5" placeholder="Text something..." cols="45" maxlength="65525" required="required"></textarea>
						</p>
						
						<p class="form-submit">
							<input name="submit" type="submit" id="submit" class="submit" value="Add"> <input type="hidden" name="comment_post_ID" value="64" id="comment_post_ID">
							<input type="hidden" name="comment_parent" id="comment_parent" value="0">
						</p>
					</form>
				</div><!-- #respond -->
			</div>
		</div>
	</div>
</div>


@functions {
	string FormatDateWithSuffix(DateTime date)
	{
		return date.ToString("d MMM yyyy hh:mm tt");
	}
}
