@model Patient
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<link href="~/css/NutDetails.css" rel="stylesheet">
<div style="background-color:#000 ;height:80px;margin-top:-10px;width:2000px;">
</div>


<style>
 
</style>


<section style="padding:70px;" >
	<div class="container py-2">


        <article style="background-color:#f9f9f9;" class="postcard light green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="~/img/s1.jpg" alt="Image Title" />
			</a>
			<div  class="postcard__text t-dark">
				<h1 style="margin-left:8px;" class="postcard__title green"><a href="#">About @Model.Name</a></h1>
				<div class="postcard__subtitle small">
                    <ul style="list-style:none; font-size:18px;">
                        <li ><strong> Gender </strong><span>@Model.Gender</span></li>
                        <li><strong> Age </strong><span>@Model.Age</span></li>
                        <li><strong> Phone Number </strong><span>@Model.PhoneNumber</span></li>
                       <li><strong>Nutritionist Name</strong>
                            @if (Model.nutritionist != null)
                            {
                                <span>@Model.nutritionist.Name</span>
                            }
                            else
                            {
                                <span>No Nutritionist Yet</span>
                            }
                       </li>

                       

                    </ul>

				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
                   @* @if (Model.healthRecord != null)
                    {*@
                    <h1 class="postcard__title green"><a href="#">Health Record</a></h1>
                        <table class="table table-hover">

                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Height</th>
                                <th scope="col">Weight</th>
                                <th scope="col">BMI</th>
                                <th scope="col">Illnesses</th>
                            </tr>
                        </thead>
                            <tbody>
                                
                                    <tr>
                                   @* <th> @Model.healthRecord.Height</th>
                                    <td>@Model.healthRecord.Weight</td>
                                    <td>@Model.healthRecord.BMI</td>
                                    <td>@Model.healthRecord.Illnesses</td>*@
                                    <td>160</td>
                                    <td>160</td>
                                    <td>160</td>
                                    <td>Nothing</td>
                                        
                                    </tr>
                                 
                                
                            </tbody>
                        </table>
                  
                    
                    </div>
                @if (User.IsInRole("Patient"))
                {
                    <ul class="postcard__tagbox">
                        <li class="tag__item play green">
                            <a asp-controller="chat" asp-action="index"><i class="fa-solid fa-message"></i>Send Message</a>
                        </li>
                        <li class="tag__item play green">
                            <a asp-controller="Client" asp-action="MyDietPlan"><i class="fa-solid fa-sheet-plastic"></i>View Diet Plan</a>
                        </li>

                        <li class="tag__item play green">
                            <a asp-controller="Client" asp-action="MealForToday"><i class="fa-solid fa-bowl-food"></i>Meals For Today</a>
                        </li>
                        <li class="tag__item play green">
                            <a ><i class="fa-solid fa-bowl-food"></i>My Nutritionist</a>
                        </li>
                    </ul>
                }

              
			</div>
		</article>
		
	</div>
</section>



    



